.UploadImage .upload-container {
  background-color: #ffffff;
}

.upload-input .fileContainer {
  background-color: #fafafa;
  box-shadow: none;
  border-radius: 0;
}

.fileContainer .uploadPictureContainer {
  width: 100%;
}

.has-picture .uploadIcon {
  display: none;
}

.has-picture .chooseFileButton {
  display: none;
}