.CustomNavbar {
  border-bottom: 1px solid #dbdbdb;
  background: #ffffff !important;
}

.CustomNavbar .navbar {
  background: #ffffff !important;
}


.CustomNavbar .navbar .navbar-brand{
  cursor: pointer;
}